<div class="container">
  <div class="form-group">
    <h1>Friend's of Christ's College (PTA)</h1>
    <p>Welcome to the Friend's of Christ's College (PTA) Registration Page</p>
    <div id="message">{{message}}</div>
    <!-- -->
    <form id="searchForm">

      <div class="form-group">
        <label for="searchEmail">Email address</label>
        <input id="searchEmail" type="email" class="form-control" name="searchEmail" value="{{email}}">
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-primary btn-space expanding" id="register">Register</button>
        <button type="button" class="btn btn-primary btn-space expanding" id="update">Update Details</button>
        <button type="button" class="btn btn-primary btn-space" id="unregister">Unregister</button>
      </div>

    </form>

    <!-- -->
    <div id="dataSection">
      <form id="mainForm" method="post" enctype="application/x-www-form-urlencoded" data-parsley-validate="">

        <div class="form-group">
          <input type="text" class="form-control" name="id" hidden="false" value="{{id}}">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="email" hidden="false" value="{{email}}">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="createdOn" hidden="true"
            value="{{formatAuditTimestamp createdOn}}">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="updatedOn" hidden="true"
            value="{{formatAuditTimestamp updatedOn}}">
        </div>

        <div class="form-group">
          <label for="fullName">Full Name</label>
          <!--<input type="text" class="form-control" name="fullName" width="100" value="{{fullName}}" required="">-->
          <input type="text" class="form-control" name="fullName" width="100"  required="">
        </div>

        <div class="form-group">

          <label for="fullNameYoungestChild">Full name of youngest child at the school</label>

          <input type="input" class="form-control" name="fullNameYoungestChild" width="100"
            value="{{fullNameYoungestChild}}" data-parsley-trigger="change" required=""></p>

        </div>
        <div class="form-row">
          <div class="form-group col-md-4">

            <label for="schoolYear">
              School year of youngest child at school*
            </label>

            <select class="form-control" name="schoolYear">
              <option value="{{schoolYear}}" hidden="hidden" selected="selected">{{schoolYear}}</option>
              <option value="">Please Select</option>
              <option value="yr7">Year 7</option>
              <option value="yr8">Year 8</option>
              <option value="yr9">Year 9</option>
              <option value="yr10">Year 10</option>
              <option value="yr11">Year 11</option>
              <option value="yr12">Year 12</option>
            </select>
          </div>
        </div>

        <div class="form-group form-check">
          <label for="committee">
            <input type="checkbox" class="form-check-input" name="committee" {{checked committee }}>I'd like to join the
            committee
          </label>
        </div>
        <div class="form-group form-check">
          <label for="helper">
            <input type="checkbox" class="form-check-input" name="helper" {{checked helper}}>I'd like to join the
            helper's list
          </label>
        </div>
        <div class="form-group form-check">
          <label for="specificEvent">
            <input type="checkbox" class="form-check-input" name="specificEvent" {{checked specificEvent}}>I'd like to
            help organise a specific event
          </label>
        </div>
        <div class="form-group form-check">
          <label for="secondHandUniform">
            <input type="checkbox" class="form-check-input" name="secondHandUniform" {{checked secondHandUniform}}>I'd
            like to help with 2nd Hand Uniforms
          </label>
        </div>
        <div class="form-group form-check">
          <label for="information">
            <input type="checkbox" class="form-check-input" name="information" {{checked information}}>I'd like to
            recieve more information
          </label>
        </div>
        <div class="form-group">
          <label for="contactNumber">Contact Number</label>
          <input type="text" class="form-control" name="contactNumber" value={{contactNumber}}>
        </div>
        <div class="form-group form-check">
          <label for="agreedPrivacyPolicy">
            <input type="checkbox" class="form-check-input" name="agreedPrivacyPolicy"
              {{checked agreedPrivacyPolicy}}>By selecting this box you
            agree with our <a href="PrivacyPolicy.html">privacy policy</a>
          </label>
        </div>
        <div class="form-group form-check" hidden="true">
          <label for="testOnly">
            <input type="checkbox" class="form-check-input" name="testOnly" {{checked testOnly}}>Test Only
          </label>
        </div>


        <div class="btn-group">
          <button type="button" id="submit" class="btn btn-primary btn-space">Submit</button>
          <button type="cancel" class="btn btn-outline-warning btn-space">Cancel</button>
        </div>
      </form>
    </div>
    <!-- -->

  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm</h5>
      </div>
      <div class="modal-body">
        <p>Please input the full name of the child you registered</p>
        <div class="form-group">
          <label for="contactNumber">Child's Full Name</label>
          <input type="text" id="confirmationChildsName" class="form-control" name="confirmationChildsName">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="modalClose" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>